---
- name: Generate the templates
  include_tasks: generate-templates.yml
  when:
  - openshift_openstack_stack_state == 'present'

- name: Get current nodes
  meta: refresh_inventory

- name: Get info about existing servers
  os_server_facts:

- name: Handle the Stack (create/delete)
  ignore_errors: False
  register: stack_create
  os_stack:
    name: "{{ openshift_openstack_stack_name }}"
    state: "{{ openshift_openstack_stack_state }}"
    template: "{{ stack_template_path | default(omit) }}"
    wait: yes

# Here - getting all nodes will return all with the new one as well
# before creating the stack, it would return only the previous ones
# sooo difference of lists?

- name: Set new_node to false for old servers
  os_server:
    name: "{{ item['name'] }}"
    flavor: "{{ item['flavor']['id'] }}"
    image: "{{ item['image']['id'] }}"
    meta: "{{ item['metadata'] | combine({'new_node': 'false'}) }}"
  with_items: "{{ openstack_servers }}"

- name: Add only the newly added nodes to the new_nodes section
  meta: refresh_inventory

#- debug: var=hostvars

#- fail:

- name: CleanUp
  include_tasks: cleanup.yml
  when:
  - openshift_openstack_stack_state == 'present'

# TODO(shadower): create the registry and PV Cinder volumes if specified
# and include the `prepare-and-format-cinder-volume` tasks to set it up
